# AOF persistence file
appendonly.aof

# Python cache
__pycache__/
*.py[cod]
*$py.class
*.so

# Environment variables
.env
.venv
env/
venv/

# OS-specific files
.DS_Store
Thumbs.db
Desktop.ini

# IDE settings
.vscode/
.idea/
*.swp
*.swo

# Logs
*.log

# Distribution / packaging
dist/
build/
*.egg-info/
